#include "Generated.xcconfig"

FLUTTER_TARGET=lib/main_dev.dart
ASSET_PREFIX=dev
BUNDLE_NAME=d-supercycle
BUNDLE_DISPLAY_NAME=d-supercycle
NAVER_CLIENT_ID=jJ0O3ozHJpE3wZqKWVxj
NAVER_CLIENT_SECRET=Vuy4WIn6vu
NAVER_URL_SCHEME=com.supercycle.dev
NAVER_SERVICE_APP_NAME=supercycle-dev
KAKAO_SCHEME=kakao12cb46543a68713b77a401e366a9ae5d