#include "Generated.xcconfig"

FLUTTER_TARGET=lib/main_prod.dart
ASSET_PREFIX=prod
BUNDLE_NAME=supercycle
BUNDLE_DISPLAY_NAME=supercycle
NAVER_CLIENT_ID=auOligJDPBs_tJ_OTKEi
NAVER_CLIENT_SECRET=rUVSzGQyxx
NAVER_URL_SCHEME=com.supercycle
NAVER_SERVICE_APP_NAME=supercycle
KAKAO_SCHEME=kakao88c6755626a347449a25bd9c4b765a16
